<!-- contact -->
<div class="contact-w3-agileits w3ls-section" id="contact">
		<div class="container">
			<h3 class="agileits-title cont-w3l">Feel free to contact me</h3>
			<div class="contact-main-w3ls">
				<div class="col-md-12  contact-left-w3ls">
					<div class="mail contact-grid-agileinfo">
						<div class="col-md-12">
							<h4>Mail me</h4>
						</div>
						<div class="col-md-12">
							<a href="mailto:karunaram987@gmail.com">karunaram987@gmail.com</a><br>
							
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="call contact-grid-agileinfo">
						<div class="col-md-12">
							<h4>Phone</h4>
						</div>
						<div class="col-md-12">
							<p>+1 9036628465</p>
							
						</div>
						<div class="clearfix"></div>
					</div>
				
					<div class="visit wthree-social-icons contact-grid-agileinfo">
						<div class="col-md-12">
							<h4>Follow me</h4>
						</div>
						<div class="col-md-12">
							<ul class="w3-links">
								<li><a href="#"><i class="fa fa-github"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- //contact -->
