		
		
		
		<div class="container">
			<div >
				<h3 >Skills</h3>
				<p>Senior UI developer with 8+ years of UI development experience with HTML5, DOM, CSS3, JavaScript, jQuery, Angular 2, React JS, JSON and AJAX. 
					Sound knowledge in Software life cycle phases like Requirement Analysis, Implementation and estimating the time-lines for the project.
				</p>
				<br>	<br>	<br>	<br>	<br> 
			</div>
			<div class="col-md-7 skills-right">
				<div class="vertical-skills  pull-right xs-center">
					<ul class="list-inline">
						<li>
							<div class="skill" style="height:90%; background:#ff9d0d;"><span class="value">90%</span></div><span class="title">HTML</span></li>
						<li>
							<div class="skill" style="height:90%; background:#03a9f4;"><span class="value">90%</span></div><span class="title">CSS</span></li>
						<li>
							<div class="skill" style="height:80%; background:#b32eca;"><span class="value">80%</span></div><span class="title">JS</span></li>
						<li>
							<div class="skill" style="height:75%; background:#009688;"><span class="value">75%</span></div><span class="title">JQuery</span></li>
						<li>
							<div class="skill" style="height:85%; background:#6361f0;"><span class="value">85%</span></div><span class="title">Angular</span></li>
						<li>
						    <div class="skill" style="height:80%; background:#ff6176;"><span class="value">80%</span></div><span class="title">ReactJS</span></li>

					</ul>
				</div>
				
			</div>
			<div class="clearfix"></div>
		</div>
	
