<div class="container">
  
  <div class="education">
    <h2>Education</h2>
    <p>Bachelors of Technology: India</p>
  </div>
  <h2>Work Experience</h2>
  <div class="row">
    <div class="col-md-6">
  <div class="work">
        <h4>The Principal Financial Group</h4>
        <strong>Work description:</strong>

        <p class="workdesc">Involved in regular design discussions to provide input on UI or UX.Responsible to create a page that is responsible to take the request and show features available for the customer using technologies like Angular2, Node JS, ECMA SCRIP6. </p>
      </div>
      <div class="work1">
          <h4>EveryDay Health</h4>
          <strong>Work description:</strong>
          <p class="workdesc">Responsible for creating web based applications using JavaScript (ECMAScript 6), React JS, Backbone JS, Ember JS.Responsible to create React JS workflows such as Flux and Redux.
                </p>
      </div>
      <div class="work1">
          <h4>Secondipity</h4>
          <strong>Work description:</strong>
          <p class="workdesc">Used Node.js for heavy DOM manipulation.Responsible for managing the interchange of data between the server and the users
                </p>
      </div>
      

  </div>

<div class="col-md-6">
        <div class="work1">
                <h4>BlueTone</h4>
                <strong>Work description:</strong>

                <p class="workdesc">Translated business requirements into simple work flows and designed user interfaces that are visually appealing and functional. 
                        •	Collaborated with engineers and stakeholders to design and build rich, engaging software products across combination of devices and technology platforms to meaningfully connect users to systems.
                        </p> 
            </div>
    <div class="work1">
            <h4>Travel Triangle</h4>
        <p class="workdesc">•	Involved in building user interfaces for websites and web applications using HTML, CSS and JavaScript 
                •	Strong experience with jQuery, AJAX, and XML. 
                </p>
      </div>
      <div class="work1">
          <h4>DCB Bank</h4>
          <strong>Work description:</strong>

          <p class="workdesc">•	Designed and developed user interfaces using CSS, HTML, and JavaScript 
                •	Code review for performance improvement. Design DOM related forms, validations, using HTML, CSS, and heavy use of JavaScript 
                </p>
      </div>
      


</div>
</div>
</div>