

<div class="app">
    <app-jumbotron></app-jumbotron>
<div class="navBar">
    <header>
        <nav class="navbar navbar-default-fixed-top">
        <div class="container-fluid">      
        <ul class='nav navbar-nav'>
                <li><a routerLink="welcome" >Home</a></li>
                <li><a routerLink="portfolio">PortFolio</a></li>
                <li><a routerLink="skills">Skills</a></li>
                <li><a routerLink="contact">Contact</a></li>
      </ul>
      </div>
    </nav>
  </header>

<router-outlet></router-outlet>

</div>

</div>


