<div class="container1">
<br><br> <br>
	<div class="row">
		<div class="col-md-4 karuna">
		
		</div>
			
		<div class="col-md-8">   
					

				<center>
						<h3>About Me</h3>
					<h4>
									
				Senior UI developer with 8+ years of UI development experience with HTML5, DOM, CSS3, JavaScript, jQuery, Angular 2, React JS, JSON and AJAX. 
				<br>
				<br>
				Experience in Software life cycle phases like Requirement Analysis, Implementation and estimating the time-lines for the project.
			</h4>
			
		</center>
		


				<!-- <button class="btn btn-success resume" type="submit">Download Resume</button>  -->
				<!-- <a href="KarunaResume.docx" download> Download Resume</a> -->
				<br>
				<br>
				<br>
				<button type="button" class="btn btn-info" style="float: right;" fileSaver [fileName] = " 'KarunaResume.pdf' " [url] = " 'assets/files/KarunaResume.pdf' " [header] = " {token: 'KarunaResume'} " [query] = " {pi: 1, name: 'KarunaResume'} " > Download Resume </button>
				
				<br>
		    
		</div>
	</div>

</div>


